
.header {
    background-color: rgb(221, 208, 174);
    height: 120px;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;

}

.line {
    border-bottom: 4px solid black;
    position: fixed;
    top: 120px;
    right: 0;
    left: 0;
    z-index: 100;

}
.body {
    height: 3000px;
    margin: 0;
    padding-top: 140px;
    padding-left: 500px;
    padding-right: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(166, 128, 32);
}

.title {
    color: #19160E;
    font-family: "Bodoni Moda";
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 105%;

}
.content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.subsection {
    color: #19160E;
    font-family: "Bodoni Moda";
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}
.subsection2 {
    color: #19160E;
    font-family: "Bodoni Moda";
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.leftsidebar {
    display: flex;
    flex-direction: column;
    background-color: green;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 120px;
    width: 170px;
}

.rightsidebar {
    display: flex;
    flex-direction: column;
    background-color: green;
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 120px;
    width: 170px;
}

.container1 {
    align-items: center;
    display: block;
    flex-direction: row;
    padding-top: 20px; /* Adjust the padding as needed */
}


.container2 {
    align-items: center;
    display: block;
    flex-direction: row;
    padding-top: 20px; /* Adjust the padding as needed */
}


#scrollImage,
#scrollImage2,
#scrollImage3,
#scrollImage4,
#scrollImage5,
#scrollImage6 {
    width: 50px; /* Set the width of each image */
}



.main-text {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    font-family: "Bodoni Moda", serif;
    right: 30%;
    left: 30%;
}

.text-title {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.text-text {
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}
/* Add styles for the line */




