
.header {
    height: 120px;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 0px 15px #000;
    background-color: #F7BA71;
    background-image: url('pictures/repeating-triangles\ \(1\).svg');
    background-size: cover;

}

.line {
    border-bottom: 4px solid #484041;
    position: fixed;
    top: 120px;
    right: 0;
    left: 0;
    z-index: 100;

}
.body {
    height: 3000px;
    margin: 0;
    padding-top: 140px;
    padding-left: 500px;
    padding-right: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCCB82;
    color: #484041;
    background-image: url(pictures/longtextureimage.png)

}

.title {
    color: #484041;
    font-family: "Bodoni Moda";
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 105%;
    margin-left: 30px;

}
.content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.subsection {
    color: #484041;
    font-family: "Bodoni Moda";
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    
}
.subsection2 {
    color: #484041;
    font-family: "Bodoni Moda";
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.subsection, .subsection2 {
    cursor: pointer; 
    transition: color 0.3s ease; 
}

.subsection:hover, .subsection2:hover {
    color: #ffffff; 
}

.leftsidebar {
    display: flex;
    flex-direction: column;
    background-color: #FCCB82;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 120px;
    width: 170px;
}

.rightsidebar {
    display: flex;
    flex-direction: column;
    background-color: #FCCB82;
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 120px;
    width: 170px;
}

.container1, .container2 {
    align-items: center;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    
    margin-top: -2871px; 
}


.container1 {
    margin-left: 4px;
}

.container2 {
    margin-right: 5px;
}


#scrollImage,
#scrollImage2,
#scrollImage3,
#scrollImage4,
#scrollImage5,
#scrollImage6 {
    width: 50px; 
    box-shadow: 0px 0px 15px #000;

}

#scrollImage, #scrollImage2, #scrollImage3 {
    background-image: url('pictures/edited T.png'); 
    margin-left: 5px;
}

#scrollImage4, #scrollImage5, #scrollImage6 {
    background-image: url('pictures/edited T.png');
    margin-right: 5px;
}


.main-text {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    font-family: "Bodoni Moda", serif;
    right: 30%;
    left: 30%;
}

.text-title {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.text-text {
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}



.algtitle {
    margin-top: 100px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}


.Terminal {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}
